header {
    text-align: center;
    min-height: 5rem;
    border: black solid 3px;
}

#todays-weather {
    border:solid black 3px;
}

form {
    background-color: rgb(228, 227, 227);
}
.search-city {
    font-size: medium;
    font-weight: bolder;
    margin-bottom: 0;
}

#five-day-forecast {
    
    border: black solid 3px;
    min-height: 20rem;
}